<%
page = parseInt(page)
if(page == 1) {
    page_start = 1
} else {
    page_start = page - 1
}
%>
<nav class="mt-3">
    <ul class="pagination">
      <li class="page-item"><a class="page-link text-black" href="?page=<%=page-1%>">ย้อนกลับ</a></li>
      <% for(i = page_start; i < page_start + 5; i++) { %>
      <li class="page-item"><a class="page-link text-black <%if(page == i) {%>active text-white<%}%>" href="?page=<%=i%>"><%=i%></a></li>
      <%}%>
      <li class="page-item"><a class="page-link text-black" href="?page=<%=page+1%>">หน้าต่อไป</a></li>
    </ul>
</nav>