<div class="mb-3">
    <div class="form-floating">
        <select class="form-select" id="name">
            <option value="">โปรดเลือกสินค้า</option>
            <% products_stock.forEach(row => {
            %>
            <option value="<%=row.id%>"><%=row.name%> - ราคา <%=row.price%> บาท</option>
            <%
            }) 
            %>
        </select>
        <label for="type">เลือกสินค้า: </label>
    </div>
</div>