<html>
    <head>
        <title>รายชื่อลูกค้า | SunnyPOS</title>
        <%-include('include/head')%>
    </head>
    <body>
        <%
        helper = new Helper()
        %>
        <script>
            searchCustomerByFullName('all')
    
            function searchCustomerByCardId(query) {
                let req_url = '/searchCustomerByCardId?q='+query
                fetch(req_url)
                .then(res => {
                    if (!res.ok) {
                        return res.json().then(errorData => { throw new Error(errorData.error); });
                    }
                    return res.text();
                })
                .then(data => {
                    document.getElementById('customerHTML').innerHTML = data;
                })
                .catch(error => {
                    console.error('Error:', error);
                    Swal.fire({
                        icon: 'error',
                        title: 'เกิดข้อผิดพลาด',
                        text: error.message || 'โปรดลองอีกครั้งในภายหลัง',
                    });
                });  
            }
    
            function searchCustomerByFullName(query) {
                let req_url = '/searchCustomerByFullName?q='+query
                fetch(req_url)
                .then(res => {
                    if (!res.ok) {
                        return res.json().then(errorData => { throw new Error(errorData.error); });
                    }
                    return res.text();
                })
                .then(data => {
                    document.getElementById('customerHTML').innerHTML = data;
                })
                .catch(error => {
                    console.error('Error:', error);
                    Swal.fire({
                        icon: 'error',
                        title: 'เกิดข้อผิดพลาด',
                        text: error.message || 'โปรดลองอีกครั้งในภายหลัง',
                    });
                });  
            }
        </script>
        <div class="d-flex">
            <%-include('include/sidebar')%>
            <div class="container-fluid p-0 overflow-hidden">
                <!-- <nav class="navbar">
                    <div class="navbar-brand"><a class="px-4 py-2 text-decoration-none text-black" onclick="history.back()">
                        <i class="fa-solid fa-chevron-left me-4"></i> รายชื่อลูกค้า</a></div>
                </nav> -->
                <%-include('include/navigator')%>
                <div class="container-fluid p-4">
                    <div class="card p-4">
                        <div class="row mb-3">
                            <div class="col-md"><input type="text" class="form-control" onchange="searchCustomerByCardId(this.value)" placeholder="หมายเลขบัตรประจำตัวประชาชน" id="search_customer_by_id" maxlength="13"></div>
                            <div class="col-md"><input type="text" class="form-control" onchange="searchCustomerByFullName(this.value)" placeholder="ชื่อ-นามสกุล" id="search_customer_by_fullname"></div>
                        </div>
                        <h2 class="mt-2 mb-4"><i class="fa-solid fa-users me-1"></i> รายชื่อลูกค้า <button type="button" class="btn btn-primary btn-sm" onclick="openLink('/addCustomer')"><i class="fa-solid fa-plus me-1"></i> เพิ่มข้อมูลลูกค้า</button></h2>
                        <div class="row">
                            <div id="customerHTML"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%-include('include/footer')%>
    </body>
</html>