<ul class="nav flex-column">
    <li class="nav-item">
        <h5 class="ms-2 py-2 border-bottom border-2"></h5>
    </li>
    <li class="nav-item">
        <a href="/" class="list-group-item list-group-item-action border-0 p-2">
            <i class="fa-solid fa-home me-1"></i> หน้าหลัก
        </a>
    </li>
</ul>
<ul class="nav flex-column">
    <li class="nav-item">
        <h5 class="ms-2 py-2 border-bottom border-2">ลูกค้า</h5>
    </li>
    <li class="nav-item">
        <a href="/customers" class="list-group-item list-group-item-action border-0 p-2">
            <i class="fa-solid fa-users me-1"></i> รายชื่อลูกค้า
        </a>
    </li>
</ul>
<ul class="nav flex-column">
    <li class="nav-item">
        <h5 class="ms-2 py-2 border-bottom border-2">สินค้า</h5>
    </li>
    <li class="nav-item">
        <a href="/products_stock" class="list-group-item list-group-item-action border-0 p-2">
            <i class="fa-solid fa-boxes me-1"></i> รายการสินค้า
        </a>
    </li>
    <li class="nav-item">
        <a href="/billingHistories" class="list-group-item list-group-item-action border-0 p-2">
            <i class="fa-solid fa-file-invoice-dollar me-1"></i> ประวัติการขายสินค้า
        </a>
    </li>
</ul>
<ul class="nav flex-column">
    <li class="nav-item">
        <h5 class="ms-2 py-2 border-bottom border-2">บัญชี</h5>
    </li>
    <li class="nav-item">
        <a href="/settings" class="list-group-item list-group-item-action border-0 p-2">
            <i class="fa-solid fa-cog"></i> ตั้งค่า
        </a>
    </li>
    <li class="nav-item">
        <a href="/logout" class="list-group-item list-group-item-action border-0 p-2">
            <i class="fa-solid fa-right-from-bracket"></i> ออกจากระบบ
        </a>
    </li>
</ul>