<script>
    AOS.init({
        duration: 150,
        offset: 30
    })
</script>
<nav class="navbar navbar-expand-md navbar-light bg-light d-md-none">
    <div class="container-fluid">
        <a class="navbar-brand fw-medium" href="/">Simple POS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <%-include('menu')%>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-md navbar-light bg-light d-none d-lg-block d-md-block d-sm-none">
    <div class="row mx-4">
        <div class="col">
            <h4 class="my-1">Simple POS</h4>
        </div>
        <div class="col">
            <div class="d-flex flex-row-reverse">
                <div class="dropdown dropstart">
                    <button class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-user me-1"></i> <%=user_data[0].username%></button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/settings"><i class="fa-solid fa-cog"></i> ตั้งค่า</a></li>
                        <li><a class="dropdown-item" href="/editProfile"><i class="fa-solid fa-user-cog"></i> แก้ไขข้อมูลส่วนตัว</a></li>
                        <li><a class="dropdown-item" href="/logout"><i class="fa-solid fa-right-from-bracket"></i> ออกจากระบบ</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>