<div class="d-none d-md-block bg-light border-end col-lg-2">
    <div class="sidebar p-3">
        <!-- <h4 class="text-start lh-lg"><i class="fa-solid fa-boxes me-1"></i> POS System</h4> -->
        <%-include('menu')%>
    </div>
</div>
